<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Final Project</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap" rel="stylesheet">
</head>
<style>
    body {
        font-family: 'Castoro Titling', cursive;
        font-size: large;
        background-color: rgba(0, 0, 128, 0.4)
    }
</style>

<body>
    <h1>voting booth</h1>

    1. <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/Flag_of_Maryland.svg/1920px-Flag_of_Maryland.svg.png" alt="md flag" width="350">

    <br>

    2. <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Flag_of_New_Mexico.svg/1920px-Flag_of_New_Mexico.svg.png" alt="nm flag" width="350">

    <form action="/" method="post">
        enter your choice here: <input type="number" name="option">
        <input type="submit" id="apply"/>
    </form>

    <div"><%- content %></div>

</body>

</html>